<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contato</title>
  <style>
    /* Estilos CSS personalizados aqui */
  </style>
</head>
<body>
  <h1>Bem-vindo à Nossa Empresa</h1>
  <img src="./public/imagens/logo2.jgp" alt="Logo da Empresa">
  <p>Olá <%= nome %>,</p>
  <p>Agradecemos por entrar em contato conosco!</p>
  <p>Estamos ansiosos para ajudar você com sua solicitação:</p>
  <p><%= descricao %></p>
  <!-- Inclua aqui animações ou estilos adicionais que você desejar -->
</body>
</html>
